@use '../../utils/variables';

.Wishlists__page {
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  padding: 4rem 10rem;
  gap: 30px;
  background-color: variables.$color-dark-bg;
}

.Wishlists {
  padding: 2%;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  box-shadow: variables.$white-card-shadow;
}
