@use '../../utils/variables';

.OrderDetails__page {
  width: 100vw;
  min-height: calc(100vh - 64px);
  display: flex;
  padding: 4rem 10rem;
  background-color: rgb(243, 244, 246);
  flex-direction: column;
  align-items: center;
}

.Orders {
  width: 30%;
  background-color: white;
  border-radius: 5px;
  box-shadow: variables.$white-card-shadow;
}

.OrderDetails {
  width: 75%;
  background-color: white;
  border-radius: 5px;
  box-shadow: variables.$white-card-shadow;
}

.OrderDetails__bottom {
  padding: 2% 4%;
}

.OrderStatus {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  background-color: rgb(217 217 217);
  align-items: center;
  &__p {
    margin: 0px;
  }
  &__title {
    font-weight: bold;
  }
}

.Order__container {
  max-height: 86%;
  width: 100%;
  overflow-y: auto;
  padding: 4%;
  &__orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.Order {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: variables.$color-dark-gray;
  border: 2px solid transparent;
  &__active {
    border: 2px solid variables.$color-accent;
  }
}

.OrderStatusContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.OrderDetails__title {
  display: flex;
  &__left {
    width: 7rem;
  }
  &__right {
    margin-left: auto;
  }
}

.Order__status {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: variables.$color-dark-gray;
  border-radius: 5px;
  &__title {
    margin-right: 10px;
  }
}

.Address__payment {
  display: flex;
  padding: 27px 0px 0px 0px;
}

.Address {
  width: 50%;
}

.Payment {
  width: 50%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__item {
    font-size: 14px !important;
    display: flex;
    justify-content: space-between;
  }
}

.Address__title {
  font-size: 14px !important;
}

.TableBody__row {
  &:hover {
    background-color: variables.$color-dark-gray;
  }
}

.TableContainer {
  margin-top: 20px;
  padding: 2%;
}

.TableCell__product {
  display: flex;
  align-items: center;
  gap: 15px;
  &__img {
    height: 40px;
    width: 40px;
    object-fit: contain;
  }
  &__details {
    display: flex;
    flex-direction: column;
    &__price {
      font-weight: bold;
    }
  }
}

.TableCell {
  padding: 10px !important;
}

.Details__btn {
  color: variables.$color-accent !important;
}

.Order__top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.BackToHome__div {
  width: 100%;
}

.BackToHome__btn {
  color: variables.$color-accent !important;
}

.Card {
  padding: 1rem 1.25rem;
  border-radius: 2px;
  box-shadow: variables.$white-card-shadow;
  width: 220px;
  border: 1px solid rgba(229,231,235, 1);
}

.Order__cards {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.Card__value {
  color: variables.$color-text-base;
  font-size: .875rem;
  line-height: 1.25rem;
}

.Card__heading {
  color: rgb(47 49 52);
}

.Payment__paragraph {
  color: rgb(66 66 66);
  display: flex;
  &__title {
    width: 33.33333%;
  }
  &__value {
    width: 66.666667%;
    margin-left: 20px;
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

.Loading__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 30px;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.Skeleton__top {
  display: flex;
  gap: 20px;
  align-items: center;
}
