@use '../../utils/variables';

.DialogDrag__area {
  padding: 0px;
  height: 180px;
  border-radius: 4px;
  border: 2px dashed variables.$color-accent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dragOver {
  background-color: variables.$color-dark-gray;
}

.Upload__icon {
  color: variables.$color-accent;
}

.Upload__btn, .btn {
  background-color: variables.$color-accent !important;
  color: white !important;
}

.Dialog__content {
  padding: 40px !important;
}

.Form__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
}

.Button__container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
