@use '../../utils/variables';

.OrderStatusBtn {
  padding: 0.6em 0.5em;
  border-radius: 10000px;
  font-size: 12px;
  color: variables.$color-border-white;
  text-align: center;
  &__processing {
    background-color: variables.$color-order-processing;
  }
  &__completed {
    background-color: variables.$color-order-completed;
  }
  &__canceled {
    background-color: variables.$color-order-canceled;
  }
  &__pending {
    background-color: variables.$color-order-pending;
  }
  &__delivery {
    background-color: variables.$color-order-processing;
  }
  &__local {
    background-color: variables.$color-order-local;
  }
}
