@use '../../utils/variables';

.OrderStatusBtn {
  padding: 0.6em 0.5em;
  border-radius: 5px;
  font-size: 14px;
  color: variables.$color-border-white;
  &__processing {
    background-color: variables.$color-order-processing;
  }
  &__completed {
    background-color: variables.$color-order-completed;
  }
  &__canceled {
    background-color: variables.$color-order-canceled;
  }
}
