@use '../../../utils/variables';

.ProductImg__container {
  position: relative;
  overflow: hidden;
}

.Offer__badge {
  position: absolute !important;
  top: 10px;
  right: 25px;
}

.Product {
  background-color: white;
  padding: 15px 10px;
  border: 1px solid variables.$color-border-white;
  border-radius: 5px;
}

.Price {
  &:first-child {
    color: rgb(156, 163, 175);
    text-decoration: line-through;
    font-size: 12px;
  }
  &:last-child {
    font-size: 15px;
    font-weight: 700;
  }
}

.Product__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px 10px 10px;
  color: black;
}

.Product__img {
  height: 231px !important;
  cursor: pointer;
  transform: scale(1);
  transition: .2s ease-in transform;
  &:hover {
    transform: scale(1.08);
  }
}

.Add__btn {
  border: 1px solid transparent !important;
  box-shadow: variables.$dark-box-shadow;
  color: variables.$color-accent !important;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: variables.$color-accent !important;
    color: white !important;
  }
}

.Product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Product__price {
  display: flex;
  flex-direction: column;
}

.Btn {
  height: 38px !important;
  width: 90px !important;
  border-radius: 20px !important;
}

.Original__price {
  color: variables.$color-accent;
}

.Product__amount {
  display: flex;
  width: 32px;
  background-color: variables.$color-accent;
  align-items: center;
  justify-content: space-around;
  gap: 3px;
  padding: 8px 0px;
  color: white;
}

.ProductAmount__btn {
  all: unset;
  color: white;
  cursor: pointer;
  height: 20px;
  &:focus {
    outline: none;
  }
}
