@use '../../utils/variables';

.Logo {
  height: 30px;
}

.Navbar__container {
  padding: 0px !important;
}

.Title {
  padding-bottom: 15px;
}

.Search__form {
  width: 100%;
}

.Search__input {
  width: 276px;
  background-color: variables.$color-dark-gray;
}

.Clear__searchValue, .SearchIcon {
  cursor: pointer;
}

.AppBar {
  background-color: #fafafa !important;
  box-shadow: none !important;
  &__scrolled {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12) !important;
  }
}

.NavItems {
  text-transform: capitalize !important;
  color: variables.$color-text-heading !important;
  &:focus {
    outline: none;
  }
}

.Toolbar {
  justify-content: space-between;
}

.Login__btn {
  background-color: variables.$color-accent !important;
  color: white !important;
}
