.Logo {
  height: 30px;
}

.Navbar__container {
  padding: 0px !important;
}

.Title {
  padding-bottom: 15px;
}

.Search__input {
  width: 276px;
}

.Clear__searchValue, .SearchIcon {
  cursor: pointer;
}
