@use '../../utils/variables';

.Button {
  min-width: 35px !important;
  height: 35px;
  border-radius: 5555555px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.Button:hover {
  background-color: rgb(203, 207, 206) !important;
}

img {
  max-width: 100%;
}

.CouponSlider {
  background-color: white;
  border-bottom: 1px solid rgb(211 212 214);
}
