$color-accent: rgb(0,159,127);
$color-accent-dark: rgb(11 138 112);
$color-light-gray: rgb(243,244,246);
$color-text-heading: rgb(31,41,55);
$color-dark-gray: rgb(243,244,246);
$color-border-white: rgb(229,231,235);
$color-text-base: rgb(107,114,128);
$color-dark-bg: rgb(243,244,246);
$white-card-shadow: (0 0 #0000,0 0 #0000), (0 0 #0000,0 0 #0000), 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
$color-order-processing: rgba(196, 153, 30,1.1);
$color-order-completed: rgba(0,161,127,1);
$color-order-canceled: rgba(227,110,1);