@use '../../utils/variables';

.OrdersPage {
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  padding: 3% 8%;
  gap: 30px;
  background-color: variables.$color-dark-bg;
}

.Orders {
  width: 30%;
  background-color: white;
  border-radius: 5px;
  box-shadow: variables.$white-card-shadow;
}

.OrderDetails {
  padding: 2%;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: variables.$white-card-shadow;
}

.OrderStatus {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  align-items: center;
  &__p {
    margin: 0px;
  }
  &__title {
    font-weight: bold;
  }
}

.Order__container {
  max-height: 86%;
  width: 100%;
  overflow-y: auto;
  padding: 4%;
  &__orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.Order {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: variables.$color-dark-gray;
  border: 2px solid transparent;
  &__active {
    border: 2px solid variables.$color-accent;
  }
}

.OrderStatusContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.OrderDetails__title {
  display: flex;
  &__left {
    width: 7rem;
  }
  &__right {
    margin-left: auto;
  }
}
